html,body {
    margin: 0px;
    padding: 0px;
}
body {
    font: normal 14px/1.5 "Helvetica Neue",Helvetica Neue,Helvetica,Arial,Lantinghei SC,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #363b42;
    background-color: #f2f2f2;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 56px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px 1em;
}
header .brand {
    height: 100%;
    width: auto;
    display: inline-block;
    text-align: center;
}
header .brand:after {
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    vertical-align:middle;  
}
header .brand .name {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

article {
    margin-top: 56px;
}


