/*
 * 旋转按钮
 */
.rotate-btn {
    position: relative;
}
.rotate-btn .center {
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 100%;
    border-radius: 10em;
    -webkit-border-radius: 10em;
}
.rotate-btn .planet {

}