/*
 * button
 */
 .btn {
    display: inline-block;
    cursor: pointer;
    fill: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 0px;
    font-size: 13px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
    border: 0;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
                box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
                        box-shadow 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.btn-label {
    user-select: none;
    -webkit-user-select: none;
    padding: 0px 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}
.btn {
    background-color: #fff; 
}
.btn.btn-success {
    background-color: #0f9d58;
}
.btn.btn-error {
    background-color:#db4437;
}
.btn.btn-info {
    background-color:rgb(0, 188, 212);
}
.btn.btn-warn {
    background-color:rgb(255, 153, 0);
}
.btn.btn-primary {
    background-color: rgb(33, 150, 243);
}
.btn.btn-success .btn-label,
.btn.btn-error .btn-label,
.btn.btn-info .btn-label,
.btn.btn-warn .btn-label,
.btn.btn-primary .btn-label {
    color: #fff;
}
.btn:hover {
    background-color: rgba(0,0,0,.08);
}
.btn:active {
    box-shadow: rgba(0, 0, 0, 0.23) 0px 1px 6px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.23) 0px 1px 6px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    background-color: rgba(0, 0, 0, 0.18);
}
.btn.btn-success:hover {
    background-color: #4CD090;
}
.btn.btn-success:active {
    background-color: #4CD090;
}
.btn.btn-error:hover {
    background-color:#e25548;
}
.btn.btn-error:active {
    background-color:#e66257;
}
.btn.btn-info:hover {
    background-color:rgb(44, 191, 211);
}
.btn.btn-info:active {
    background-color:rgb(68, 202, 219);
}
.btn.btn-warn:hover {
    background-color:rgb(241, 171, 66);
}
.btn.btn-warn:active {
    background-color:rgb(250, 179, 74);
}
.btn.btn-primary:hover {
    background-color: rgb(87, 180, 255);
}
.btn.btn-primary:active {
    background-color: rgb(104, 184, 250);
}


.btn-round {
    border-radius: 20px;
}
.btn-flat {
    height: 38px;
    line-height: 38px;
    border-width: 1px;
    border-style: solid;
}
.btn-flat.btn {
    background-color: transparent;
    border-color:  rgba(0, 0, 0, 0.2);
}


.btn-flat.btn-success {
    background-color: rgba(15, 157, 88, .05);
    border-color: rgba(15, 157, 88, .8);
}
.btn-flat.btn-success .btn-label {
     color: rgba(15, 157, 88, .8);
}
.btn-flat.btn-success:hover {
    background-color: rgba(15, 157, 88, 1);
}
.btn-flat.btn-success:hover .btn-label {
    color: #fff;
}


.btn-flat.btn-warn {
    background-color: rgba(255, 153, 0, .05);
    border-color: rgba(255, 153, 0, .8);
}
.btn-flat.btn-warn .btn-label {
     color: rgba(255, 153, 0, .8);
}
.btn-flat.btn-warn:hover {
    background-color: rgba(255, 153, 0, 1);
}
.btn-flat.btn-warn:hover .btn-label {
    color: #fff;
}


.btn-flat.btn-error {
    background-color: rgba(219, 68, 55, .05);
    border-color: rgba(219, 68, 55, .8);
}
.btn-flat.btn-error .btn-label {
     color: rgba(219, 68, 55, .8);
}
.btn-flat.btn-error:hover {
    background-color: rgba(219, 68, 55, 1);
}
.btn-flat.btn-error:hover .btn-label {
    color: #fff;
}


.btn-flat.btn-info {
    background-color: rgba(0, 188, 212, .05);;
    border-color: rgba(0, 188, 212, .8);
}
.btn-flat.btn-info .btn-label {
     color: rgba(0, 188, 212, .8);
}
.btn-flat.btn-info:hover {
    background-color: rgba(0, 188, 212, 1);
}
.btn-flat.btn-info:hover .btn-label {
    color: #fff;
}

.btn-flat.btn-primary {
    background-color: rgba(33, 150, 243, .05);
    border-color: rgba(33, 150, 243, .8);
}
.btn-flat.btn-primary .btn-label {
     color: rgba(33, 150, 243, .8);
}
.btn-flat.btn-primary:hover {
    background-color: rgba(33, 150, 243, 1);
}
.btn-flat.btn-primary:hover .btn-label {
    color: #fff;
}