.dropdown {
    position: relative;
}
.dropdown .trigger {

}
.dropdown .list {
    left: 0px;
    position: absolute;
    background-color: #fff;
    padding: 5px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.dropdown .list li {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.dropdown .list li a,.dropdown .list li span {
    text-decoration:none;
    color: #666;
}
.dropdown .list li:hover {
    background-color: #f2f2f2;
}