.form {
    position: relative;
}
.form .form-control {
    position: relative;
    margin-bottom: 15px;
}
.form .form-control .form-label {
    font-size: 12px;
    color: #888;
    display: block;
}
.form .form-control .form-input {

}